/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.gitignore
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/vendor/
/node_modules/
/public/build/
/public/images/asinimg
/public/images/serimg
/public/images/FBM_docs/invoices
/public/images/FBM_docs/shipping_label
/public/images/product_images
/public/images/thumbnails
docker-compose.yml
/backend_ai/venv
backend_ai/debug_images
backend_ai/__pycache__/
backend_ai
/backend_ai


