.receiving-module .check-column {
    min-width: 40px;
}

.receiving-module .product-name {
    width: 590px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.receiving-module .product-details {
    width: 590px;
}

.receiving-module .product-name .th-content {
    display: flex;
}

.receiving-module .product-info {
    color: #0073bb;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.receiving-module .product-info:hover {
    text-decoration: underline;
}

.instruction-text{
    text-align: center;
}
.product-thumbnails-grid {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-3 mt-3;
}
.product-thumbnail {
  @apply border rounded-lg shadow-sm overflow-hidden cursor-pointer transition-transform;
}
.product-thumbnail:hover {
  @apply scale-105;
}
.product-thumbnail img {
  @apply w-full h-32 object-cover;
}
.thumbnail-label {
  @apply text-center text-sm bg-gray-100 py-1;
}
.no-images {
  @apply text-center text-gray-500 mt-4;
}

