@media (min-width: 1024px) and (max-width: 1439px) {
    #appsearch input {
        min-width: 500px !important;
    }
}

@media (min-width: 320px) and (max-width: 1023px) {
    .navbar-container {
        flex-direction: column;
    }

    .left-container {
        width: 100%;
    }

    #navbarNav {
        display: none !important;
    }

    #appsearch input {
        min-width: 400px !important;
    }

    .store-filter::after {
        display: none;
    }

    .per-page-selector,
    .pagination-info {
        font-size: .8rem;
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    #appsearch input {
        min-width: 300px !important;
    }

    .store-filter::after {
        display: none;
    }

    .pagination-wrapper {
        flex-direction: column;
        gap: 10px;
    }
}
