.stockroom-module .check-column {
    min-width: 40px;
}

.stockroom-module .product-name {
    min-width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.stockroom-module .product-details {
    min-width: 300px;
}

.stockroom-module .product-name .th-content {
    display: flex;
}

.stockroom-module .product-info {
    color: #0073bb;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.stockroom-module .product-info:hover {
    text-decoration: underline;
}
