.packing-module .table-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.packing-module .check-column {
    width: 40px;
}

.packing-module .product-name {
    width: 200px;
}

.packing-module .product-name .th-content {
    display: flex;
}

.packing-module .product-info {
    color: #0073bb;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.packing-module .product-info:hover {
    text-decoration: underline;
}
