.hr-module {
    max-width: 1024px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

.nav-tabs > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-tabs > ul li > button {
    border: 0;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 0;
}

.nav-tabs > ul li > button.active,
.nav-tabs > ul li > button:hover {
    background-color: #007bff;
    color: #fff;
}

a.dropdown-item {
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Employee */
.employee-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

.employee-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-addEmployee,
.modal-rateEmployee {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-addEmployee .modal-content {
    width: 400px;
}

.modal-addEmployee .modal-body,
.modal-rateEmployee .modal-body {
    padding: 20px;
}

.modal-addEmployee form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.modal-addEmployee .modal-footer,
.modal-rateEmployee .modal-footer {
    gap: 10px;
}

.modal-rateEmployee .modal-content {
    width: 800px;
}

.btn-success,
.btn-primary,
.btn-secondary {
    height: 40px;
    min-width: 100px;
    margin: 0;
}

/* Time Record */
.time-record-wrapper form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.time-record-wrapper form fieldset {
    flex: 1;
}

.time-record-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

table tbody tr td {
    white-space: pre-wrap;
}

.modal-editRecord {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-editRecord .modal-content {
    width: 800px;
}

.modal-editRecord .modal-body {
    padding: 20px;
}

.modal-editRecord form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.modal-editRecord form fieldset {
    width: calc(100% / 2 - 20px);
}

.modal-editRecord form fieldset:last-child {
    width: 100%;
}

.nav-tabs .btn-nav.active {
    font-weight: 600;
}

/* Holiday Modal */
.modal.modal-holiday {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-holiday .modal-content {
    width: 1200px;
}

.modal.modal-holiday .modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

.controller-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller-year {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.controller-year label {
    white-space: nowrap;
}

.modal.modal-holiday form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.modal.modal-holiday form fieldset {
    flex: 1;
}

.modal.modal-holiday form fieldset:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.holiday-table-container {
    height: 600px;
    overflow: auto;
}

.holiday-table-container table {
    width: 100%;
}

.holiday-table-container table tr td {
    white-space: nowrap;
}

.btn-action-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}
